@import url('variables.css');

* {
    box-sizing: border-box;
}
.game-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.cell {
    height: 60px;
    width: 60px;
    border: solid var(--black-color) 1px;
    border-radius: 50%;
    background-color: var(--white-color);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}
.cell:active {
    transform: scale(0.9);
}
.cell.red {
    background-color: var(--red-color);
}

.cell.yellow {
    background-color: var(--yellow-color);
}

.cell.yellow-hover {
    background-color: var(--yellow-color);
}

.cell.red-hover {
    background-color: var(--red-color);
}
.board {
    border: solid var(--black-color) 1px;
    display: flex;
    flex-direction: column;
    background-color: var(--board-color);
    padding: 15px;
    gap: 15px;
}

.row {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.game-status {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.game-status button {
    cursor: pointer;
}

.player-area {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    gap: 15px;
    cursor: pointer;
}

.player-area .cell {
    border: none;
}
