.board {
    background-color: blue;
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}
.row {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.circle {
    background-color: white;
    border-radius: 100%;
    height: 70px;
    width: 70px;
}

.slot {
    background-color: white;
    border-radius: 100%;
    height: 70px;
    width: 70px;
}
.slot.yellow {
    background-color: yellow;
}

.slot.red {
    background-color: red;
}

.circle.red:hover {
    background-color: red;
    cursor: pointer;
}

.circle.yellow:hover {
    background-color: yellow;
    cursor: pointer;
}

.top {
    padding-left: 10px;
    padding-right: 10px;
}