.progress-bar {
    border: solid grey 1px;
    background-color: lightblue;
}
.ready {
    background-color: brown;
}
.progress {
    background-color: blue;
}

.animate {
    animation-duration: 5s;
    animation-name: expandProgress;
    animation-fill-mode: forwards;
}
@keyframes expandProgress {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
