img {
    width: 150px;
}
.board {
    display: flex;
    flex-direction: column;
    width: 600px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cell {
    position: relative;
    height: 200px;
    width: 150px;
}

.mole-head {
    transform: translate(0px, 2px);
    transition: transform .3s ease-out;
}

.mole-head:hover {
    transform: translate(0px, 113px);
}
.mole-hill {
    position: absolute;
    bottom: 0;
}

.mole-container {
    height: 129px;
    width: 150px;
    position: absolute;
    top: 48px;
    overflow: hidden;
}
